API_KEY_TMDB="SUA API_KEY_TMDB"
SUPABASE_URL="SUA SUPABASE_URL"
SUPABASE_ANON_KEY="SUA SUPABASE_ANON_KEY"
SUPABASE_SERVICE_ROLE_KEY="SUA SUPABASE_SERVICE_ROLE_KEY"
JWT_SECRET="SUA CHAVE SECRETA"
JWT_REFRESH_SECRET="SUA CHAVE SECRETA PARA REGENERAR"