@import '../layout.css'; 
@import '../../components/admin-components.css';
@import '../../components/admin-modal.css';
@import '../../responsive/admin-responsive.css';

.media-preview {
  display: none;
  align-items: center;
  padding: 16px;
  background-color: var(--secondary-bg);
  border-radius: 12px;
  border: 1px solid var(--border-color);
  margin-bottom: 24px;
  animation: fadeInTab 0.3s ease;
}

.media-preview.active {
  display: flex;
}

.media-preview img {
  width: 64px;
  height: 96px;
  border-radius: 4px;
  object-fit: cover;
  margin-right: 16px;
  background-color: var(--tertiary-bg);
}

.media-preview-info h4 {
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 4px;
}

.media-preview-info p {
  font-size: 0.875rem;
  color: var(--text-secondary);
  margin-bottom: 8px;
}

.media-preview-info span {
  font-size: 0.625rem;
  background: rgba(229, 9, 20, 0.2);
  color: var(--accent);
  padding: 2px 6px;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid rgba(229, 9, 20, 0.2);
}